@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;padding: 0;
}
nav{
    background-color: #1F2937;
    color: white;
    width: 100%;
    height: 10vh;
    text-align: right;
    border-bottom-left-radius: 3rem;
}
.link{
    text-decoration: dotted;
    color: white;
    padding: 1rem ;

}
.link-head{
    text-align: left;
    padding-left: 1rem;
    font-weight: 400;
    color: #D1D5DB;
}
/* .home-backgroud{
    display: block;
    margin: auto;
    width: 50%;
    height: 30vh;
} */
.bg-image{
    max-width: 80%;
    width: 360px;
    margin: auto;
    display: block;
}
.home-heading{
    text-align: center;
}
span{
    color: #3730A3;
    font-size: 1.2rem;
}
section{
    background-color: #D1D5DB ;
    padding: 2rem 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 90%;
    min-height: 30vh;
    display: block;
    margin: auto;

}
.white-section{
    background-color: white;
    color: black;
    padding: 2rem 2rem;
    width: 90%;
    min-height: 30vh;
    display: block;
    margin: auto;
}
p{
    padding: 2rem;
}
button{
    height: 2rem;
    width: 7rem;
    border: none;
    font-size: 0.9;
    border-radius: 0.4rem;
}
.name-container{
    padding-bottom: 2rem;
}
footer{
    margin-top: 2rem;
    color: white;
    background-color: #1F2937;
    height: 10vh;
    display: block;
    text-align: center;
    padding-bottom: 4rem;
    border-top-left-radius: 3rem;

}
.footer-image{
    width: 2rem;
    padding: 0.5rem;
    /* margin-bottom: 0.8rem; */
}
.blank-link{
    text-decoration: none;
    /* border: 1px solid blue; */
    border:1px solid #93c0f7;
    padding: 0.3rem 1.5rem;
    border-radius: 0.4rem;
    display: inline-block;
    margin-top: 1rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.color-link{
    text-decoration: none;
    background-color:#1F2937;
    color: white;
    padding: 0.3rem 1.5rem;
    border-radius: 0.4rem;
    display: inline-block;
    border: 1px solid blue;
    margin-top: 1rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.blog-section{
    height: 100%;
    margin-top: 3rem;
}
button:hover{
    text-shadow: 4px 2px 6px rgba(0,0,0,0.17);
    box-shadow: 2px -1px 13px 7px rgba(0,0,255,0.17);
    border: 1px solid blue;
}
.footer-hover{
    min-width: 30%;
    display: inline-block;
    margin: auto;
    border-radius: 1rem;
}
.footer-hover:hover{
    border: 1px solid blue;
    box-shadow: 10px -7px 5px -5px rgba(0,0,255,0.22);;
}
.blank-link:hover{
    text-shadow: 4px 2px 6px rgba(0,0,0,0.17);
    box-shadow: 2px -1px 13px 7px rgba(0,0,255,0.17);
    border: 1px solid blue;
}
.color-link:hover{
    text-shadow: 4px 2px 6px rgba(0,0,0,0.17);
    box-shadow: 2px -1px 13px 7px rgba(0,0,255,0.17);
    border: 1px solid blue;
}
.link:hover{
    text-shadow: 2px 2px 4px rgba(243, 243, 253, 0.993);
}
p{
    font-size: 1.1rem;
    margin-top: 1rem;
}